/*General*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
section {
  height: calc(100vh - 2%);
}

a {
  text-decoration: none;
}

/* FA render*/

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*Utilites*/

.lx {
  float: left;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
  margin: 5px;
}

.clearfix::after{
  display: table;
  content: "";
  clear: both;
}

.spacer-top {
  margin-top: 5%;
}

.spacer-btm {
  margin-bottom: 5%;
}

.container {
  width: 80%;
  margin:auto;
}

.container-sm {
  width: 60%;
  margin:auto;
}

.centered {
  text-align: center;
}

.paddingY {
  padding: 2% 0;
}

/*Columns*/

.col-2 {
  width: 50%;
}

.col-2r {
  float: right;
  text-align: right;
}

.col-3{
  width: calc(100% / 3);
}

.col-4 {
  width: calc(100% / 4);
  background-color: gray;
}

.col-1trd {
  width: calc(100% / 3);
  background-color: white;
}

.col-2trd {
  width: calc((100% / 3)*2);
  background-color: black;
}

/*Typography*/

h1,
h2,
h3,
h4,
p,
a {
  font-family: 'Muli', sans-serif;
  color: #32495b;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h1,
p {
  line-height: 1.5;
}

.discl {
  font-size: 10px;
}

/*Buttons*/

.btn{
  display: inline-block;
  background-color: #fafcfe;
  color: #fe775a;
  padding: 10px;
  margin: 10px;
  border: 2px solid #fe775a;
  border-radius: 5px;
}

.btn-orange {
  background-color: #fe775a;
  color: #fafcfe;
}

.btn-large {
  padding: 15px 30px;
  margin: 0;
}

.btn-contacts {

}

/*Colors*/

.bg-gray {
  background-color: #f4f9fd;
}

.bg-gradient {
 background-image: linear-gradient(60deg, #8cf2ff, #8cffcf );
}

.bg-white {
  background-color: #FFF;
}

.bg-orange {
  background-color: #fff1ee;
}

.bg-dgray {
  background-color: #555;
}

/*Images*/

.img-testimonial {
  height: 385px;
}

.img-big {
  height: 100px;
}

.img-small {
  height: 50px;
}

.img-tiny {
  height: 35px;
}

.img-lilliput {
  width: 25%;
}

.logo {
  content: url("../img/logo.svg");
  width: 30px;
}

/*Borders*/

.tinywhite {
  border: 1px solid white;
}
/*TOP NAV*/

.top-nav {
  border-bottom: 2px solid #32495b;
}

.menu-item {
  list-style: none;
  font-size: 18px;
}

.dropdown::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  padding: 0 5px;
  color: #32495b;
}

.pipe::before {
  content: "|";
  padding: 0 15px;
  font-family: 'Muli', sans-serif;
  color: #32495b;
  weight: 900;
}

.language::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f7a2";
  padding-right: 5px;
  color: #32495b;
 }

 .btn-search {
  color: #15acc3;
}

/*Jumbotron & header*/



#jumbotron {
  height: 95vh;
  background-image: url("../img/jumbotron.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 100% -1%;
}

.jumbotron-btm {
  width: 100vw;
  height: 10vh;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}

/* Widgets*/

.h4::after {
  content: "";
  width: 80%;
  height: 1px;
  color: lime;
  background-color: lime;
}

/*Footer*/

.h4-footer {

}

.p-link {
}

.social-icon {
}
