/*General*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
section,
.jumbotron-btm,
#metatable {
  height: calc(100vh - 2%);
}

a {
  text-decoration: none;
}

/* FA render*/

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/*Utilites*/

.lx {
  float: left;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.clearfix::after{
  display: table;
  content: "";
  clear: both;
}

.rel {
  position: relative;
}

.spacer-top {
  margin-top: 6%;
}

.spacer-btm {
  margin-bottom: 6%;
}

.inner-spacer {
  padding: 3%;
}

.container {
  width: 80%;
  margin:auto;
}

.container-sm {
  width: 60%;
  margin:auto;
}

.centered {
  text-align: center;
}

.paddingY {
  padding: 2% 0;
}

/*Columns*/

.col-2 {
  width: 50%;
}

.col-2r {
  width: 50%;
  float: right;
  text-align: right;
}

.col-3{
  width: calc((100% / 3) - 20px);
}

.col-3:nth-of-type(2) {
  margin: 0 30px;
}

.col-4 {
  width: calc(100% / 4);
}

.col-1trd {
  width: calc(100% / 3);
}

.col-2trd {
  width: calc((100% / 3)*2);
}

/*Typography*/

h1,
h2,
h3,
h4,
p,
ul,
a {
  font-family: 'Muli', sans-serif;
  color: #32495b;
  line-height: 1.5;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

.discl {
  font-size: 10px;
}

#metatable.bg-gradient h3,
#metatable.bg-gradient h2,
#metatable.bg-gradient p {
  color: #FFF;
}

/*Buttons*/

.btn{
  background-color: #fafcfe;
  color: #fe775a;
  font-size: 14px;
  padding: 5px 20px;
  margin: 10px;
  border: 1px solid #fe775a;
  border-radius: 5px;
}

.btn-orange {
  background-color: #fe775a;
  color: #fafcfe;
}

.btn-large {
  padding: 15px 30px;
  margin: 0;
}

.btn-contacts {

}

/*Colors*/

.bg-gray {
  background-color: #f4f9fd;
}

.bg-gradient {
 background-image: linear-gradient(60deg, #00a9b9, #00bba7 );
}

.bg-white {
  background-color: #FFF;
}

.bg-orange {
  background-color: #fff1ee;
}

.bg-dgray {
  background-color: #555;
}

.box-fill {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 20px 20px 5px #e6ecf1;
}
/*Images*/

.img-testimonial {
  height: 385px;
}

.img-big {
  height: 200px;
}

.img-small {
  height: 100px;
}

.img-tiny {
  height: 35px;
}

.img-lilliput {
  width: 25%;
}

.img-adapt {

}

.logo {
  content: url("../img/logo.svg");
  width: 30px;
}

/*Borders*/

.tinywhite {
  border: 1px solid white;
}
/*TOP NAV*/

.top-nav {
  border-bottom: 2px solid #32495b;
}

.menu-item {
  list-style: none;
  font-size: 18px;
}

.dropdown::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  padding: 0 5px;
  color: #32495b;
}

.pipe::before {
  content: "|";
  padding: 0 15px;
  font-family: 'Muli', sans-serif;
  color: #32495b;
  weight: 900;
}

.language::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f7a2";
  padding-right: 5px;
  color: #32495b;
 }

 .btn-search {
  color: #15acc3;
}

/*Jumbotron & header*/

#jumbotron {
  height: 95vh;
  background-image: url("../img/jumbotron.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 100% -1%;
}

.jumbotron-btm {
  height: 10vh;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}

/* Widgets */

.inline-h4::after {
  position: absolute;
  content: "";
  width: 65%;
  height: 2px;
  color: black;
  background-color: black;
  top: 50%;
}

.top-h4 {
  border-top: 2px solid black;
  padding-top: 10px;
}

.custom-ul {
  padding: 0;
}

.custom-li {
  text-align: left;
  list-style: none;
  padding-right: 1.2em;
}

.custom-li:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fe775a;
  margin-left: -1.2em;
  width: 1.2em;
  padding: 1.2em;
}

/*Metatable*/

#metatable.bg-gradient .col-4:nth-of-type(1){
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

#metatable.bg-gradient .col-4:nth-of-type(2) {
  border-top: 1px solid transparent;
}

#metatable.bg-gradient .col-4:nth-of-type(3) {
  border-top: 1px solid transparent;
}

#metatable.bg-gradient .col-4:nth-of-type(4) {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
}

#metatable.bg-gradient .col-4:nth-of-type(5) {
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
}

#metatable.bg-gradient .col-4:nth-of-type(6) {
  border-bottom: 1px solid transparent;
}

#metatable.bg-gradient .col-4:nth-of-type(7) {
  border-bottom: 1px solid transparent;
}

#metatable.bg-gradient .col-4:nth-of-type(8) {
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}

/*Footer*/

.h4-footer {

}

.p-link {
}

.social-icon {
}
